/* Adobe Fonts - Basic Sans - Sofia Pro - Regular, Bold, Black */
@import url("https://use.typekit.net/iuc0mzc.css");

:root {
  --white: #fbfbfb;
  --black: #1d1d1f;
  --blue: #272a4c;
  --gray: #85888c;
}
/* Reset Stylesheet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------- BODY ------- */
body {
  background-color: var(--white);
  font-family: "basic-sans", "sofia pro", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Header */

.header {
  background-color: var(--white);
  box-shadow: 1px 1px 5px 0px var(--gray);
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

/* Logo */
.logo {
  display: inline-block;
  color: var(--blue);
  font-size: 60px;
  margin-left: 10px;
}

/* ------- NAVIGATION ------- */
.nav {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--white);
  overflow: hidden;
}
.menu a {
  display: block;
  padding: 30px;
  color: var(--black);
}
.menu a:hover {
  background-color: transparent;
  color: var(--gray);
}
.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

/* -- Menu Icon -- */
.hamburger {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
} /* Style label tag */

.hamburger-line {
  background: var(--black);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.hamburger-line::before,
.hamburger-line::after {
  background: var(--black);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamburger-line::before {
  top: 5px;
}
.hamburger-line::after {
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

/* -- Toggle menu icon -- */
.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .hamburger .hamburger-line {
  background: transparent;
}
.side-menu:checked ~ .hamburger .hamburger-line::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamburger .hamburger-line::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}

/* ----- Responsiveness for hamburger menu ----- */

@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
  .menu li {
    float: left;
  }
  .menu a:hover {
    background-color: transparent;
    color: var(--gray);
  }

  .hamburger {
    display: none;
  }
}

/* ------- HEADINGS ------- */

.main-heading-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: basic-sans, sans-serif;
  color: #1f2b85;
  font-size: 68px;
  line-height: 54px;
  font-weight: 800;
  text-align: center;
}

.main-heading-1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 150px;
  background-color: transparent;
  font-family: basic-sans, sans-serif;
  color: #262a4f;
  font-size: 68px;
  line-height: 60px;
  font-weight: 800;
  text-align: center;
}

.main-heading-3 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: basic-sans, sans-serif;
  color: #262a4f;
  font-size: 69px;
  line-height: 60px;
  font-weight: 900;
  text-align: center;
}

.sub-heading {
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 150px;
  opacity: 0.6;
  font-family: basic-sans, sans-serif;
  color: #898ea2;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

/* ------- PROJECT STYLES------- */

.section-landing {
  background-color: transparent;
  background-image: url(../images/sphere.png);
  background-position: 0 0, 50% 50%;
  background-size: cover;
}

.project-section {
  display: block;
  min-height: 0px;
  padding-left: 0px;
  clear: none;
  text-align: left;
}

.project-container-left {
  position: static;
  display: flex;
  width: 80%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-self: center;
  order: -1;
}

.project-image-container {
  display: flex;
  width: 660px;
  margin-top: 100px;
  margin-right: auto;
  justify-content: space-between;
}

.image-case-study {
  margin-right: 0px;
  flex: 1;
  transition: -webkit-transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.image-case-study:hover {
  -webkit-transform: translate(0px, -24px);
  transform: translate(0px, -24px);
}

.project-container-text-right {
  display: flex;
  width: 450px;
  height: auto;
  margin-top: 100px;
  margin-left: 30px;
  justify-content: space-between;
  align-self: center;
}

.div-block-case-study {
  margin-left: 0px;
  align-self: center;
  flex: 1;
  text-align: center;
}

.project-heading {
  margin: 0 0 20px;
  font-family: "basic-sans", sans-serif;
  color: #262a4f;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.project-description {
  margin: 0 0 16px;
  font-family: "sofia-pro", sans-serif;
  color: #262a4f;
  line-height: 24px;
  text-align: center;
}

.link-to-project {
  display: block;
  margin: 52px auto 0;
  font-family: "basic-sans", sans-serif;
  color: #262a4f;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.link-to-project:hover {
  color: #5aded1;
  letter-spacing: 1px;
}

.project-section {
  display: block;
  min-height: 0px;
  padding-left: 0px;
  clear: none;
  text-align: left;
}

.project-container-right {
  display: flex;
  width: 80%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row-reverse;
  align-items: center;
}

.project-image-container-right {
  width: 660px;
  margin-top: 100px;
  margin-left: 30px;
}

.project-container {
  width: 450px;
  margin-top: 100px;
  margin-right: 0px;
  align-self: center;
}

.button-label {
  margin-right: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  padding: 4px 16px;
  border-radius: 20px;
  background-color: #f1f2f6;
  transition-property: none;
  font-family: "sofia-pro", sans-serif;
  color: #898ea2;
  font-size: 14px;
  line-height: 20px;
  cursor: default;
}

.button-label:hover {
  color: #898ea2;
}

/* ------- FOOTER ------- */

.footer-wrap {
  display: flex;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 80px 50px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

.footer-links {
  display: block;
  margin-right: auto;
  margin-left: auto;
  clear: none;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  flex: 0 auto;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.social-media-icon {
  margin-right: 20px;
  margin-left: 20px;
}

/*---  Media Queries ---*/

@media screen and (max-width: 991px) {
  .project-section {
    display: flex;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .project-container-left {
    display: flex;
    flex-direction: row;
  }

  .project-image-container {
    margin-top: 80px;
    margin-left: 20px;
  }

  .image-case-study {
    display: block;
    overflow: visible;
    margin: 0 auto;
    flex: 1;
  }

  .project-container-right {
    height: auto;
    margin-top: 80px;
    margin-left: 20px;
  }

  .div-block-case-study {
    margin-left: 0px;
    align-self: center;
    flex: 1;
    text-align: center;
  }

  .project-container {
    margin-top: 100px;
  }

  .project-description {
    margin-bottom: 16px;
  }

  .social-media-icon {
    margin-right: 20px;
    margin-left: 20px;
  }

  .project-container-right {
    height: auto;
    margin-top: 80px;
    margin-left: 20px;
  }

  .project-container {
    margin-top: 100px;
  }
}
